# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6b3837e3bb319e33390f6d6eba5fd55d0c1010af5ad539a0a3f4b2de51e38494710be4ad843a2dab0b430ca49aa80f7712bb979518b8d648a7ec669fe637564f

test:
  secret_key_base: 38f0893d4666ebba9af4277ede00efee419ceab850a7d4784783d7cb0548ebba27d65d1c2a8d8a8dc9019ebe6ba3b8650f4bc1dc229f3084a289d037d5112572

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
